@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon+SC&family=Lato&display=swap');

:root {
  --heading-font: 'IM Fell French Canon SC', serif;
  --paragraph-font: 'Lato', Helvetica, sans-serif;
}

body {
  font-family: var(--paragraph-font);
  background-color: #f4f4f4;
  color: #000;
  padding: 20px;
  margin-top: 150px;
}

h1, h2 {
  font-family: var(--heading-font);
}

nav a, .text-content p, footer, ul {
  font-family: var(--paragraph-font);
}

.logo {
  position: fixed;
  top: 10px;
  left: 10px;
  padding: 0;
  display: flex;
  align-items: center;
  z-index: 10;
}

.logo img {
  width: 150px;
  height: auto;
  border: none;
}

header {
  position: fixed;
  top: 10px;
  left: 165px;
  width: calc(100% - 225px);
  background: #518CCA;
  padding: 30px;
  display: flex;
  align-items: center;
  z-index: 9;
}

h1 {
  margin: 0;
  color: white;
  white-space: nowrap;
}

nav {
  position: fixed;
  left: 165px;
  top: 100px;
  width: calc(100% - 20px);
  background: #e23636;
  padding: 10px 20px;
  z-index: 8;
  border: 5px solid black;
  border-radius: 4px;
}

ul {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 12px 20px;
}

nav a:hover {
  background: #5386E4;
  color: white;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 0 20px 3rem;
    flex: 1;
  }
  

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  height: 100%;
}

.card h3 {
  font-size: 1.2rem;
  color: white;
  background-color: #504a4a;
  padding: 8px 16px;
  border-radius: 6px;
  display: inline-block;
  max-width: fit-content;
  margin: 0 auto;
  font-family: var(--heading-font);
}

.card img {
  width: 250px;
  height: 350px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 10px;
  align-self: center;
}

.card p {
  font-size: 0.9rem;
  color: #555;
}

img:not(.logo img) {
  border: 4px solid gold;
  border-radius: 6px;
}

footer {
  background-color: #e23636;
  color: #fff;
  text-align: center;
  padding: 1.5rem;
  width: 100%;
  border-top: 5px solid black;
}

footer a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
  color: #ffc107;
}
