@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon+SC&family=Lato&display=swap');

:root {
    --heading-font: 'IM Fell French Canon SC', serif;
    --paragraph-font: 'Lato', Helvetica, sans-serif;
  }

.logo {
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 0;
    display: flex;
    align-items: center;
    z-index: 10; 
}

.logo img {
    width: 150px;
    height: auto;
}

header {
    position: fixed;
    top: 10px;
    left: 165px;
    width: calc(100% - 225px);
    background: #518CCA;
    padding: 30px 30px;
    display: flex;
    align-items: center;
    z-index: 9; 
}

h1 {
    margin: 0;
    color: white;
    white-space: nowrap;
}

nav {
    position: fixed;
    left: 165px;
    top: 100px;
    width: calc(100% - 20px);
    background: #e23636;
    padding: 10px 20px;
    z-index: 8; 
    border: 5px solid black; 
    border-radius: 4px; 
}

ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 1em;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 12px 20px;
}

nav a:hover {
    background: #5386E4;
    color: white;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    margin-top: 50px;
    z-index: 1;
    position: relative; 
}

.grid div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid img {
    width: 300px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    border: 5px solid gold; 
}

.logo img {
    border: none; 
}

.info {
    text-align: center;
    padding: 10px;
    background-color: #e23636;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
}

.info p {
    margin: 5px 0;
    color: white;
}

.image-header {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #504a4a;
    color: white;
    border-radius: 5px;
}

.grid div:last-child,
.grid div:nth-last-child(2) {
    grid-column: span 2;
    justify-self: center;
}

.grid a {
    display: block;
    text-decoration: none;
}

.grid a:hover img {
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.grid a:hover img {
    opacity: 0.8; 
    transition: opacity 0.3s ease; 
}

  footer {
    background-color: #e23636;
    color: #fff;
    text-align: center;
    padding: 1.5rem;
    width: 100%;
    border-top: 5px solid black;
  }
  
  footer a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
  }
  
  footer a:hover {
    text-decoration: underline;
    color: #ffc107;
  }

  body {
    font-family: var(--paragraph-font);
    background-color: #f4f4f4;
    color: #000;
    padding: 20px;
    margin-top: 150px;
  }
  
  h1, h2 {
    font-family: var(--heading-font);
  }
  
  nav a, .text-content p, footer, ul {
    font-family: var(--paragraph-font);
  }